* {
    margin: 0;
    padding: 0;
}
.main {
    background-image: url("../img/perfil\ \(1\).png");
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
<<<<<<< HEAD
    background-position: right bottom;
=======
    background-position: right bottom;
>>>>>>> menu-responsive
}
body {
    background-image: url(../img/Pies\ ciudad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media only screen and (max-width:800px) {
    body {
        background-image: url(../img/Pies\ ciudad\ 1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width: 600px) {
    body {
        background-image: url(../img/Pies\ ciudad\ 2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
<<<<<<< HEAD
=======
nav {
     padding: 5px;
     background: rgb(31, 31, 54);
}
ul {
    font-style: italic;
    font-family: cursive;
    font-size: 20px;
    text-align: right;
    
    
    
}
li {
    display: inline-block;
  text-align: right;
    padding: 10px;
}
    

a {
    text-decoration: none;
    color: rgb(255, 251, 0);
    padding: 30px;
    
}
a:hover {
    
    padding: 20px;
    font-size: 20px;
}
>>>>>>> menu-responsive
