* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 25px;
}
ul {
    text-align: right;
    list-style: none;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: rgb(37, 25, 25);
    margin:25px;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
a:hover {
    font-weight: 900;
    font-size: 1.4em;
    
}
.img-principal {
    width: 100%;
}
h2 {
    text-align: center;
    line-height: 1.5em;
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 0 auto;
}
.content-main {
    width: 80%;
    margin: 0 auto;
}
.Listas {
    list-style: none;
    
}
.box-historia {
    margin-top: 20px;
}