h1 {
text-align: center;
}
.img-1 {
    display: block;
    margin: 0 auto;
    
    
}
.imagenct {
    display: inline;
    margin: -1.3em 1em;
}
.Imagenes {
    display: block;
    margin: 0 auto;
    width: 1200px;
    
}
.cont-1 {
    display: inline-block;
    margin: -.5em 1em;
 

}
p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2.5em;

}
.