body {
    background-image: url(../img/pexels-jessica-lynn-lewis-1010518.jpg);
}
ul {
   width: 40%;
   
   height: 30px;
}
ul :hover { 
    color: rgb(0, 0, 0);
    
}
a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    
}
a :hover {
    color: rgb(238, 204, 204);
    background-color: yellow;
}
