* {
    margin: 0 ;
    padding: 0 ;
   
}
 body {
      background: url(../img/pexels-pixabay-220444.jpg) no-repeat center top fixed;
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
 }
nav {
    cursor: pointer;
    padding: 0;
    background-position: left;
    position: static;
}
.main-content {
    background: coral;

}
.color {
    text-overflow: clip;
    color: rgb(0, 0, 0);
    background-color: rgba(141, 141, 133, 0.2);

}
ul {
    list-style: none;
    position: absolute;
    text-align: left;
    background-position: right;
}
li{
    background: rgb(3, 3, 44, .5);
    
}
a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.1em 2.9em;
    width: 165px;
    
}
.item {
    line-height: 3em;
    display: block;
    position: relative;
    text-align: left;
}
a:hover {
    color: rgb(61, 60, 61);
    transition: all .1s;
    font-size: 16.px;
}
h1 {
    text-align: center;
}
P{
    width: 80%;
    text-align: right;
    padding-left: 260PX;
    
}






