* {
    margin: 0 ;
    padding: 0 ;
}
nav {
    cursor: pointer;
    padding: 0;
}
ul {
    list-style: none;
    position: absolute;
    background: rgb(19, 109, 11);
    width: 100%;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 2.5em;
}
.item {
    line-height: 3em;
    display: inline-block;
    position: relative;
    text-align: right;
}
a:hover {
    background: rgb(133, 100, 99);
    transition: all .2s;
}
.sub-item {
    text-align: center;
    transition: all 1s;
    max-height: 0;
    background: 1px solid white ;
}
.item:hover .sub-item {
    display: block;
    max-height: 500px;
    border-bottom: 1px solid white;
}
h1 { 
    text-align: left;
    color: rgb(158, 3, 1);
    font-family: fantasy;
    padding: 3em;
}
h2 {
    text-align: left;
    font-size: 30px;
    font-family: fantasy;
    padding: auto;
    margin-bottom: 20px;
}
.url {
    color: black;
    font-size: 20px;
    text-align: justify;
    background: lemonchiffon;
}

